<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
     <script type="text/javascript" src="/webjars/jquery/jquery.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
	<div th:include="fragments/header :: header" ></div>
    <table>
    <tr>
    <th>Name</th>
    <th>Email</th>
    </tr>
    <tr th:each="user : ${liste}">
    <td th:text="${user.name}"></td>
    <td th:text="${user.email}"></td>
    </tr>
    </table>
        <form action="#" th:action="@{/adduser}" method="get">
        <p><input class="btn btn-success" type="submit" value="add User" /> </p>
    </form>
    

    
    
</body>
</html>